*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font: small;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    margin: 20px;
    color: #99120dd7;
}
body{
    color: whitesmoke;
    background-color: #e1e1df;
    background-image: url(images/books-arrangement.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
main{
    width: 60vh;
    height: auto;
    background-image: linear-gradient(to top, #99120de3,#99120da1);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    fill-opacity: 0.5;
}
.input{
    width: 100%;
    min-height: 25px;
    margin: 3%;
    margin-left: 0;
    background: whitesmoke;
    border: 2px;
    border-radius: 5px;
    color: #99120dd7;
    opacity: 0.5;
    font-weight: bold;
}
.input:hover{
    opacity: 0.9;
}
::placeholder{
    color: #99120dd7;
    font-weight: bold;
    text-align: center;
}
h2{
    font-weight: lighter;
}
fieldset{
    margin: 20px;
    border: 2px;
    border-style:dotted;
    border-radius: 5px;
}
legend{
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
#submit{
    width: 100%;
    background-color:#d4af37;
    opacity: 0.7;
}
#submit:hover{
    opacity: 1;
    cursor: pointer;
}
textarea{
    resize: none;
}
.genderBox{
    display: flex;
    justify-content: space-between;
}
.optionBox{
    height: 100px;
    display: flex;
    flex-flow: column wrap;
}
.box{
    margin-top: 10px;
    margin-bottom: 5px;
}
.registerBox{
    margin-top: 70vh;
    font-weight: lighter;
}

a{
    color: #d4af37;
}
.registerTxt{
    margin: 5vh;
}